<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    

</head>
<body style="background:#0E1738;">

<!-- ================= NAVBAR HTML ================= -->
<nav class="navbar">

    <!-- LEFT LOGO -->
    <div class="nav-left">
        <img src="{% static 'image/Logo (2).png' %}" alt="logo" width="95" height="55">
    </div>

    <!-- MENU LINKS -->
    <div class="nav-links">
        <a href="#">Dashboard</a>
        <a href="{% url 'id-details' %}">ID Card</a>
        <a href="{% url 'emp-attendance' %}">Attendance</a>
        <a href="{% url 'employee-login' %}">Logout</a>
    </div>

</nav>

</body>
</html>
