<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Employee</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% include "hr_navbar.html" %}

    <div class="form-container_box">
        <h2>Create Employee</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>


