<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees List</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
     {% include "hr_navbar.html" %}


       
    <!-- CONTENT -->
    <div class="container">
        <h1 class="emp">Employees List</h1>

        <div class="table-wrapper">

            <table>
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Salary</th>
                        <th>User</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in emp %}
                    <tr>
                        <td><img src="{{ i.photo.url }}"></td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.emp_id }}</td>
                        <td>{{ i.Gender }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.depertment }}</td>
                        <td>{{ i.designation }}</td>
                        <td>{{ i.salary }}</td>
                        <td>{{ i.user }}</td>

                        <td>
                            <a class="edit-btn" href="{% url 'employee_edit' i.id %}">Edit</a>
                            <a class="delete-btn" href="{% url 'employee_delete' i.id %}">Delete</a>
                            <a class="idcords" href="{% url 'create-id' i.id %}">ID</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

</body>

</html>