<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Salary</title>
</head>
<body>
    <h2>Employee Salary Details</h2>
    <table >
        <tr>
            <th>Employee Name</th>
            <th>Month</th>
            <th>Year</th>
            <th>Present Days</th>
            <th>Salary</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.employee.name }}</td>
            <td>{{ i.month }}</td>
            <td>{{ i.year }}</td>
            <td>{{ i.present_days }}</td>
            <td>{{ i.salary }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>