<!DOCTYPE html>
  {% load static %}
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Edit</title>

    <!-- Static CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="form-box">
        <h2>Employee Edit</h2>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit">Update</button>
        </form>
    </div>

</body>
</html>