<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Edit</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
   

</head>

<body>

    {% include "hr_navbar.html" %}

    <!-- Main Page Wrapper -->
    <div class="page-container">

        <div class="edit-form-box">
            <h2 class="edit-title">Edit Employee</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Update Employee</button>
            </form>
        </div>

    </div>

</body>
</html>

