{% load static %}
<!-- ================= NAVBAR HTML ================= -->

<div class="navbar">

    <!-- Logo -->
    <div class="nav-left">
        <img src="{% static 'image/Logo (2).png' %}" alt="logo" width="95" height="55">
    </div>

    <!-- Links -->
    <div class="nav-links">

        <a href="{% url 'hr_dashboard' %}"
            class="{% if request.resolver_match.url_name == 'hr_dashboard' %}active{% endif %}">
            Dashboard
        </a>

        <div class="dropdown">
            <span class="dropbtn">Employee ▾</span>

            <div class="dropdown-content">
                <a href="{% url 'employee' %}">View Employees</a>
                <a href="{% url 'create' %}">Create Employee</a>
                <a href="{% url 'create-employee' %}">Update Employee</a>
            </div>
        </div>

        <a href="{% url 'emp-salary' %}" class="{% if request.resolver_match.url_name == 'emp-salary' %}active{% endif %}">
            Payroll
        </a>

        <a href="{% url 'idcards' %}" class="{% if request.resolver_match.url_name == 'idcards' %}active{% endif %}">
            ID Card
        </a>

        <a href="{% url 'hr_attendance_panel' %}"
            class="{% if request.resolver_match.url_name == 'hr_attendance_panel' %}active{% endif %}">
            Attendance
        </a>

        <a href="{% url 'employee-login' %}"
            class="{% if request.resolver_match.url_name == 'employee-login' %}active{% endif %}">
            Logout
        </a>

    </div>
</div>
